@charset "UTF-8";

body{
    background-image: url(foto.jpg);
   background-attachment: fixed;
     background-repeat: no-repeat;
    background-position: top right;
   background-size: cover;

}
h1{
    color: white;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    text-align: center;
    margin-top:-15px;
    text-shadow: 3px 3px 4px black;
}
p{
    color: white;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0px;
    
}
 

nav{
    background-color: rgba(36, 36, 36, 0.274);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    padding: 5vh;
    border: solid rgba(255, 255, 255, 0.39) 2px;
    border-radius: 20px;
}
nav:hover{
   
    box-shadow: 0px 0px 20px blue;
   
}

input{
    background-color: rgba(0, 0, 0, 0.479);
    border: solid rgba(255, 255, 255, 0.486) 1px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    
}

input:hover{
    border: blue;
    box-shadow:0px 0px 10px blue;
}

div#senha{
    margin-bottom: 25px;
}

button{
  
    background-color:rgba(3, 7, 44, 0.507);
    padding: 10px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    border-radius: 15px;
    border: solid  rgba(255, 255, 255, 0.425) 1px;
    display: block;
    margin: auto;
  
}


button:hover{
    border: rgb(0, 0, 129);
    color: rgb(0, 0, 255);
    box-shadow: 0px 0px 15px rgb(0, 0, 255);
    background-color: rgba(1, 0, 78, 0.568);
    
}
